html {
    --background: #FFF;
    --text: #3b2c00;
    --accent: #00a4b9;

    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background);
    color: var(--text);
    padding: 0;
    margin: 0;
}

.bg-accent {
    background-color: var(--accent);
}