.nav-wrapper {
    height: 100vw;
    padding: 24px 12px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    background-color: #F6F9FB;
}

.nav-header {
    display: flex;
    gap: 12px;
    align-items: center;
    padding-left: 12px;
}

.nav-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: stretch;
    min-width: 200px;
    padding: 0;
}

.item-wrapper {
    list-style: none;
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 12px 12px;
    border-radius: 12px;
    cursor: pointer;
}
.item-wrapper:hover {
    background-color: color-mix(in srgb, var(--accent) 15%, transparent);
    color: var(--accent);
}
.item {
    text-decoration: none;
    color: inherit;
}